<div class="messageInfo" style="cursor: pointer; ">
  <div class="span2 countViews gradient" style="background: <%= genre.color_screen %>;">
    <h5><%= genre.color %></h5>
  </div>
  <div class="span10">
    <div class="contentDescription overflowHidden">
      <h5><%= genre.name%></h5>
    </div>
    <div class="contentDescription with_border fright">
      <ul class="actionsTable">
        <li><a href="#" class="ico-right-circle">Editar</a></li>
        <li><a href="#" class="warning ico-trash">Excluir</a></li>
      </ul>
    </div>
  </div>
</div>
