<header class="header" role="banner">
  <menu id="menuPrincipal" role="navigation">
    <ul>
      <li class="parent selected">
        <%= link_to "Home", root_path, class:"ico-home", role:"menuitem"%>
      </li>
      <li>
        <%= link_to "Gêneros", genres_path, role:"menuitem"%>
      </li>
   </ul>

  </menu>
</header>


