<header class="header" role="banner">
  <menu id="menuPrincipal" role="navigation">
    <ul>
      <li class="parent selected">
        <%= link_to t('menu.home'), root_path, class:"ico-home", role:"menuitem"%>
      </li>
      <li>
        <%= link_to t('menu.actions'), action_colors_path, role:"menuitem"%>
      </li>
      <li>
        <%= link_to t('menu.colors'), colors_path, role:"menuitem"%>
      </li>
  </ul>

  </menu>
</header>


